body {
	background: #EFEFEF url(../images/background4.jpg) no-repeat fixed;
  background-size: 100%;
  font-family: "QuattrocentoSans-Regular";
	margin: 0;
}

/* Header */

#header {
  background: #444;
  height: 72px;
  background-color: #3c404b;
  background: -moz-linear-gradient(#4d4f53, #111112);
  background: linear-gradient(#4d4f53, #111112);
  border-bottom: 1px solid #fff;
}

#header > div {
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  text-align: right;  
}

#header a {
  color: #fff;
  font-family: "Courier New", monospace;
  font-size: 40px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#logo {
  float: left;
  display: inline-block;
  line-height: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation {
  display: inline-block;
  line-height: 55px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation li {
	float: left;
	margin: 0 15px;
}
#navigation li:first-child {
	margin-left: 0;
}
#navigation li a {
	color: #fff;
	font-family: "Andale Mono", monospace;
	font-size: 20px;
	padding: 0px 0;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation li a:hover, #navigation li.selected a {
	color: #ffc947;
}

/* Login card */
.login-card {
  padding: 40px;
  opacity: 0.92;
  width: 274px;
  background-color: #F7F7F7;
  margin: 60 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
	font-family: "Helvetica Narrow", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit], select {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
}

.login-card input[type=text], input[type=password], select {
  height: 44px;
  font-size: 16px;
  width: 100%;
  font-family: "Andale Mono", monospace;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
}

.login-card input[type=text]:hover, input[type=password]:hover, select {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 1;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 13px;
}